doctype html
html(lang='en')
  head
    title Food Blog
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    //- link(rel='stylesheet' href='../public/stylesheets/style.css')
  body
    aside#leftside
    aside#rightside
    #container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(aria-current='page' href='#') Home
              li.nav-item
                a.nav-link(href='#') Recipes
              li.nav-item
                a.nav-link(href='#') Lifestyles
              li.nav-item
                a.nav-link(href='#') Videos
              li.nav-item
                a.nav-link(href='#') About
      header
        span Food Blog
      main
        aside#photos
          //- img(src='./public/images/vue images - Google Search.jpeg' alt='White Chicken Chili' width='180')
        h2 Comments
        section#blogposts
          .post
            //- img(onclick='showDiv1()' src='./public/images/profile.png' alt='' style='cursor: pointer;')
            span#author1
            |  — 
            span#date1
            span#reply REPLY
            p#message1
          #profile1(style='width: 30%; height: auto; background-color: black; border-radius: 15px; position: absolute; margin-left: 20%; margin-top: -200px; display: none;')
            p(onclick='hideDiv1()' style='text-align: right; cursor: pointer; color: white; margin-right: 10px;') x
            h3#author1-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            h4(style='color: white; display: inline-block; margin-left: 20px; margin-right: 15px;') Foodie Level: 
            span#foodie1-diag(style='color: white; ')
            h4(style='color: white; margin-left: 20px; margin-right: 15px;') Bio: 
            p#bio1-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            br
            button(onclick='hideDiv1()' style='margin-bottom: 20px; margin-left: 20px; cursor: pointer;') Close
          .post
            img(onclick='showDiv2()' src='./public/images/profile.png' alt='' style='cursor: pointer;')
            span#author2
            |  — 
            span#date2
            span.reply REPLY
            p#message2
          #profile2(style='width: 30%; height: auto; background-color: black; border-radius: 15px; position: absolute; margin-left: 20%; margin-top: -200px; display: none;')
            p(onclick='hideDiv2()' style='text-align: right; cursor: pointer; color: white; margin-right: 10px;') x
            h3#author2-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            h4(style='color: white; display: inline-block; margin-left: 20px; margin-right: 15px;') Foodie Level: 
            span#foodie2-diag(style='color: white; ')
            h4(style='color: white; margin-left: 20px; margin-right: 15px;') Bio: 
            p#bio2-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            br
            button(onclick='hideDiv2()' style='margin-bottom: 20px; margin-left: 20px; cursor: pointer;') Close
          .post
            img(onclick='showDiv3()' src='./public/images/profile.png' alt='' style='cursor: pointer;')
            span#author3
            |  — 
            span#date3
            span.reply REPLY
            p#message3
          #profile3(style='width: 30%; height: auto; background-color: black; border-radius: 15px; position: absolute; margin-left: 20%; margin-top: -200px; display: none;')
            p(onclick='hideDiv3()' style='text-align: right; cursor: pointer; color: white; margin-right: 10px;') x
            h3#author3-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            h4(style='color: white; display: inline-block; margin-left: 20px; margin-right: 15px;') Foodie Level: 
            span#foodie3-diag(style='color: white; ')
            h4(style='color: white; margin-left: 20px; margin-right: 15px;') Bio: 
            p#bio3-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            br
            button(onclick='hideDiv3()' style='margin-bottom: 20px; margin-left: 20px; cursor: pointer;') Close
          .post
            img(onclick='showDiv4()' src='./public/images/profile.png' alt='' style='cursor: pointer;')
            span#author4
            |  — 
            span#date4
            span.reply REPLY
            p#message4
          #profile4(style='width: 30%; height: auto; background-color: black; border-radius: 15px; position: absolute; margin-left: 20%; margin-top: -200px; display: none;')
            p(onclick='hideDiv4()' style='text-align: right; cursor: pointer; color: white; margin-right: 10px;') x
            h3#author4-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            h4(style='color: white; display: inline-block; margin-left: 20px; margin-right: 15px;') Foodie Level: 
            span#foodie4-diag(style='color: white; ')
            h4(style='color: white; margin-left: 20px; margin-right: 15px;') Bio: 
            p#bio4-diag(style='color: white; margin-left: 20px; margin-right: 15px;')
            br
            button(onclick='hideDiv4()' style='margin-bottom: 20px; margin-left: 20px; cursor: pointer;') Close
      footer
        | © Copyright FOOD BLOG
    //- script(src='./public/javascripts/homework_foodblog.js')


//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content
