<%- include('header'); %>
<%- include('nav'); %>
<main>
<h3>
    Login
</h3>
<form action="/login" method="POST">
    <label for="username">UserName</label>
    <input type="text" placeholder="username" id="xyz" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <button class="btn btn-success">Login</button>
</form>
</main>