<%- include('header'); %>
<%- include('nav'); %>
<main>
<h3>
    Sign Up
</h3>
<form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone">
    <button class="btn btn-success">Submit</button>
</form>
</main>